In [1]:
import pandas as pd

## get Data

In [31]:
pairs = pd.read_csv("data/day4.in", delimiter='[,-]'
, names=["elf1_start", "elf1_end","elf2_start","elf2_end"]
)
pairs.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_16048\3335412308.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pairs = pd.read_csv("data/day4.in", delimiter='[,-]'#, header=0

   elf1_start  elf1_end  elf2_start  elf2_end
0           1        93           2        11
1          26        94          26        94
2          72        92          48        88
3          36        37          37        52
4           2        98           1        98

## Question 1

In [32]:
pairs['2_in_1'] = (pairs['elf2_start'] >= pairs['elf1_start']) & (pairs['elf2_end'] <= pairs['elf1_end'])
pairs['1_in_2'] = (pairs['elf1_start'] >= pairs['elf2_start']) & (pairs['elf1_end'] <= pairs['elf2_end'])
pairs['one_in']     = (pairs['1_in_2'] | pairs['2_in_1'])

In [33]:
pairs.head(20)

print(pairs['one_in'].sum())

503

## Question 2

In [56]:
pairs['overlap']  = ~(pairs['elf1_end'] < pairs['elf2_start']) & ~(pairs['elf2_end'] < pairs['elf1_start'])
pairs.head(20)

,elf1_start,elf1_end,elf2_start,elf2_end,2_in_1,1_in_2,in,two_in,overlap,overlap1,overlap2
0,1,93,2,11,True,False,True,False,True,False,True
1,26,94,26,94,True,True,True,True,True,True,True
2,72,92,48,88,False,False,False,False,True,True,False
3,36,37,37,52,False,False,False,False,True,False,True
4,2,98,1,98,False,True,True,False,True,True,False
5,1,83,1,84,False,True,True,False,True,True,True
6,74,79,76,76,True,False,True,False,True,False,True
7,66,85,66,86,False,True,True,False,True,True,True
8,6,73,6,73,True,True,True,True,True,True,True
9,31,57,30,58,False,True,True,False,True,True,False
10,1,98,1,98,True,True,True,True,True,True,True
11,28,47,55,97,False,False,False,False,False,False,True
12,29,71,70,72,False,False,False,False,True,False,True
13,40,53,40,53,True,True,True,True,True,True,True
14,14,71,39,71,True,False,True,False,True,False,True
15,19,98,18,94,False,False,False,False,True,True,False
16,94,96,81,95,False,False,False,False,True,True,False
17,79,98,79,97,True,False,True,False,True,True,True
18,52,66,60,61,True,False,True,False,True,False,True
19,2,3,8,89,False,False,False,False,False,False,True

In [57]:
print(pairs['overlap'].sum())

827